@use "../helpers" as *;

.card {
  display: grid;
  grid-template-columns: 38% auto;

  &__preview,
  &__body {
    padding: rem(80);

    @include laptop {
      padding: rem(60);
    }
  }

  &__preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: fluid(60, 20);
    border-right: var(--border);
    padding-left: 0;

    @include tablet {
      padding-right: 0;
      padding-block: rem(50);
    }

    &-main {
      display: grid;
      row-gap: fluid(50, 24);
    }

    &-icon {
      width: fluid(80, 50);
    }

    &-info {
      display: grid;
      row-gap: fluid(16, 6);
    }
  }

  &__body {
    padding-right: 0;

    @include tablet {
      padding: rem(30) rem(16);
    }
  }
}
